<footer class="probootstrap-footer">
      <div class="probootstrap-backtotop"><a href="#" class="js-backtotop"><i class="icon-chevron-thin-up"></i></a></div>
      <div class="container">
      <div class="row mb50">
        <div class="col-md-6 col-md-push-1">
          <div class="probootstrap-footer-widget">
            <h4>Radno vreme:</h4>
            <ul class="probootstrap-footer-link">
              <li>Radni dani: 05:00 – 22:00</li>
              <li>Subota: NE RADIMO</li>
              <li>Nedelja: 05:00 - 22:00</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-md-push-1">
          <div class="probootstrap-footer-widget">
            <h4>Contact Info</h4>
            <ul class="probootstrap-contact-info">
              <li><i class="icon-location2"></i> <span>Zdravka Celara 123</span></li>
              <li><i class="icon-mail"></i><span>angular@ict.edu.rs</span></li>
              <li><i class="icon-phone2"></i><span>+123 456 7890</span></li>
            </ul>
          </div>
        </div>
        
      </div>
       <div class="row">
         <div class="col-md-12 text-center border-top">
           <p class="mb0">Copyright &copy; Nemanja Pravdic</p>
         </div>
       </div>
     </div>
  </footer>  