<section class="probootstrap-intro probootstrap-intro-inner">
    <div class="container">
      <div class="row" @fade>
        <div class="col-md-7 probootstrap-intro-text">
          <h1 class="">O meni</h1>
          <div class="probootstrap-subtitle" >
            <h2>teretana u kraju</h2>
          </div>
        </div>
      </div>
    </div>
</section>
  <!-- END: section -->
  <main>
    <section id="next-section" class="probootstrap-section">
      <div class="container">
        <div class="row probootstrap-gutter60 mb50">
          <div class="col-md-6">
            <figure><img src="assets/img/me.jpg" lt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
          </div>
          <div class="col-md-6">
            <h2 class="probootstrap-heading">Nemanja Pravdić</h2>
             <p>Projekat napravljen za predmet Praktikum(Web Programiranje).</p>
             <p>CV: <a target="_blank" rel="noopener noreferrer" href="https://www.visualcv.com/nemanja-pravdic">link</a></p>
          </div>
        </div>
      </div>
    </section>
    
  </main>